@model Sudoku.Cellule[][]
@{
    ViewData["Title"] = "Home Page";
}
<table id="sudoku" data-number-rows="@Model.Length" data-number-columns="@Model[0].Length">
    @for (int i = 0; i < Model.Length; i++)
    {
        <tr>
            @for (int j = 0; j < Model[i].Length; j++)
            {
                <td  class="row-@i column-@j @(Model[i][j].EstValeurInitiale ? "valeurInit" : "")" data-cell-row="@i" data-cell-column="@j" contenteditable="true"  oncopy="return false" oncut="return false" onpaste="return false">
                    @(Model[i][j].Valeur != 0 ? Model[i][j].Valeur.ToString() : "")
                </td>
            }
        </tr>
    }
</table>
<input type="button" name="save" id="init-sudoku" value="Initialiser" />
<input type="button" name="save" id="vide-sudoku" value="Vider" />
<input type="button" name="save" id="restaure-sudoku" value="Restaurer" />
<input type="button" name="save" id="resolve-sudoku" value="Résoudre" />
<input type="button" name="save" id="resolve-sudoku-par-etape" value=">" />